// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$body-color: #949494;
$body-bg: #fff;
$border-radius: .4rem;
$success: #7952b3;

// 1920, 1500, 992, 640
$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 640px,
  lg: 992px,
  xl: 1500px,
  xxl: 1920px
);

$orange: #ff6200;
$primary:       #ff6200 !default;

$btn-border-radius: 0;
$font-size-base: 0.8rem;

@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required

@import "bootstrap/scss/root"; // Required
@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/input-group"; // Requires forms
@import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
@import "bootstrap/scss/card";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/jumbotron";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/media";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/print";


//
// Custom styles
//

@import "icon-list";

body {
  // font-size: 0.8rem;
}

.font-condensed {
  font-stretch: condensed;
}

.orange {
  color: $orange;
}

.pt-07 {
  padding-top: 0.7rem;
}

.topbar {
  background: $orange;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7rem;

  .call-us-text {
    color: #be3600;
  }

  .phone-cta {
    color: #fff;
  }
}

.navbar {
  text-transform: uppercase;
  background-color: #f9f9f9;
  color: #333333;

  .navbar-brand {
    color: #313131;
    font-weight: bold;
    font-size: 2rem;
  }

  .container {
    padding: 1.7rem 0;
  }
}

.navbar-light {

  .navbar-nav {

    color: #525252;

    .nav-item {
      // font-size: 0.8rem;
    }

    .show>.nav-link,
    .active>.nav-link,
    .nav-link.show,
    .nav-link.active {
      color: #333333;
      font-weight: bold;
      border-bottom: 3px solid $orange;
    }

    .nav-link:hover,
    .nav-link:focus {
      color: #333333;
      font-weight: bold;
      border-bottom: 3px solid $orange;
    }

  }

}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  border-radius: 0;
  border-color: #ababab;
  font-size: $font-size-base;

  .dropdown-item {
    color: #737373;

    &:hover,
    &:focus {
      text-decoration: none;
      font-weight: bold;
      color: #585858;
      background: none;
    }
  }
}

.breadcrumb {
  margin-bottom: 0;
  background-color: initial;
  padding: 2.6rem 0 2.2rem 0;
  // font-size: 0.8rem;

  .breadcrumb-item {
    color: #bdbdbd;

    &::before {
      color: #bdbdbd;
    }

    &.active {
      font-weight: bold;
      color: #6b6b6b;
    }

  }
}

h1,.h1 {
  font-size: 1.8rem;
  line-height: 1;
  color: $orange;
}

h2,.h2 {
  font-size: 1.6rem;
  line-height: 1;
  font-weight: normal;
  color: $orange;
  border-bottom: 7px solid #525252;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.btn {
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.form-group {
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
}

.form-control {
  border-radius: 0;
  color: $body-color;
  background-color: lighten($body-color, 40%);
  font-size: 0.8rem;

  &:focus {
    color: darken($body-color, 10%);
    border-color: $body-color;
    outline: 0;
  }
}

.socmed-icon {
  color: #d0d0d0;

  &:hover, &:active, &:focus {
    color: #363636;
  }
}
